body 
{
    color:white;
    background-image: url("file:///D:/tacto/logo/pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'lora';
    z-index: 1;

}
.text_nav{ 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20vh;
    font-weight: 700;
    color:black

}